./advreactmovieapp/node_modules
./amazon/node_modules
./flipkart/node_modules
./linkedin-clone/node_modules
./slack/node_modules
./trippify/node_modules

./amazon/src/firebase.js
./flipkart/src/firebase.js
./prime/src/firebase.js
./linkedin-clone/src/firebase.js
./slack/src/firebase.js
