.header2{
    width:100%;
    background-color: rgba(35, 45, 68,1);
    height:40px;
    color:white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.header2__items{
    margin:0 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;

}

.header2__all{
    display: flex;
    align-items: center;
}
.header2__items>div{
    margin:0px 3px;
    padding:5px 5px;
    box-sizing: border-box;

}
.header2__items>div:hover{
    box-sizing: border-box;

    border: 1px solid white;
    border-radius: 2px;

}
p{
    font-size: 14px;
}